<% provide(:title, 'Books') %>
<h1>Books are coming soon!</h1>

<p><ul><%= render @books %></p>
    <li><% :book_title %></li>
    <li><% :byline %></li>
    <li><% :author %></li>
    <li><% :summary %></li>
  </ul>
